.what-we-buy {
    background-color: #183656;
    /* margin: 240px auto 0; */
    height: 400px;
    padding-top: 90px;
    position: relative;

  h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    /* height: 50px; */
    position: absolute;
    top: -40px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: RGBA(15, 243, 4, 1);
    width: 350px;
    padding: 15px 5px 15px 8px;

  &:after{
    content: '';
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 30px solid RGBA(15, 243, 4, 1);
    }
  }
  div {
    display: block;
  }
}

.container {
  width: 210px;
  position: relative;
  margin: 0 auto 40px;
  // background-color: $blue;
  -webkit-perspective: 1100px;
     -moz-perspective: 1100px;
       -o-perspective: 1100px;
          perspective: 1100px;
}
#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.ready #carousel {
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
}
#carousel.panels-backface-invisible div {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

#carousel div {
  display: block;
  position: absolute;
  width: 180px;
  height: 180px;
  left: 10px;
  top: 20px;
  border: 2px solid white;
  line-height: 116px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: RGBA(5, 61, 110, 0.7);
  // overflow: auto;

  p {
    height: 25%;
  }
  p:nth-of-type(1){
    margin-top: -45px;
    display: inline;
    float: left;
    margin-left: 10px;
    height: 11px;
  }
  p:nth-of-type(2){
    font-size: 21px;
    color: $neon-green;
  }
  p:nth-of-type(3){
    font-size: 16px;
  }
  p:nth-of-type(4){
    font-size: 22px;
    color: $neon-green;
  }
}

.ready #carousel div {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
     -moz-transition: opacity 1s, -moz-transform 1s;
       -o-transition: opacity 1s, -o-transform 1s;
          transition: opacity 1s, transform 1s;
}


.navigation-button {
  border: none;
  background: transparent;
  font-size: 40px;
  height: 40px;
  margin-top: 80px;
  color: white;
  &:nth-of-type(1){
    float: right;
  }
  &:nth-of-type(2){
    float: left;
  }
}
