$green: RGBA(37, 174, 48, 1.00);
$blue: RGBA(5, 61, 110, 1.00);
$bg-green: RGBA(37, 174, 48, 0.7);
$bg-blue: RGBA(5, 61, 110, 0.7);
$neon-green: RGBA(15,243,4, 1.00);
$lightgray: RGBA(211, 211, 211, 1.00);
$main-font: 'Montserrat', sans-serif;
